@font-face {
    font-family: 'Quicksand';
    src: url("fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', system-ui, sans-serif;

}

.logo {
    width: 200px;
    height: auto;
    display: block;
    padding: 0;
    margin: -20 -10 -40 -20
}

.body {
    background: #17181a;
    color: #fdfdff
}

.tab-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: clamp(46px, 10vh, 150px);
    background: #202123;
    border-top: 2px solid #000000;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab {
    text-decoration: none;
    color: #fdfdff;
    font-size: clamp(26px, 4vh, 100px);
    font-weight: 500;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#active {
    color: #88c2ff;
    font-weight: 700;
}