section {
    background: #17181a;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

ul li span {
    font-weight: 500;
    color: #88c2ff;
}